.main {
  // min-height: 100vh;
}
.emailInput {
  outline: none;
}
.emailInput::placeholder {
  color: white;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.nav {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5vw;
  margin: 0 5vw;

  div {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  button,
  .navItem {
    flex-grow: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .navItem {
    background-color: transparent;
    border: 0;
  }

  .navButton {
    border-radius: 8px;
    border: 1px solid #0047cc;
    background: #0047cc;
    padding: 10px 18px;
  }
}

.heroSection {
  padding: 40px 5vw;
  width: 71vw;
  max-width: 1214px;
  margin: 0 5vw;

  #heroH1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 0.8px;
    margin-bottom: 35px;
    margin-top: 35px;

    .h1Color {
      color: #e182b5;
      font-style: italic;
    }
  }

  hr {
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.16);
    height: 1px;
    border: none;
  }

  p {
    color: #d0d8e7;
    font-size: 22px;
    font-style: normal;
    // font-weight: 400;
    line-height: 28px;
  }
  .p {
    color: #012534;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .formGroup {
    margin-top: 35px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 6px;

    input {
      border: none;
      padding: 14px;
      margin: 10px;
      background: rgba(255, 255, 255, 0);
      font-size: 16px;
      min-width: 260px;
      color: #fff;
    }
    input::placeholder,
    input::-ms-input-placeholder {
      color: #da1111;
    }

    button {
      border-radius: 8px;
      background: #0047cc;
      padding: 0px 12px;
      margin: 6px 9px;
    }
  }
}

.fadeIn {
  animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  background-color: #f5f8ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: black;
}

.box .framewrapper {
  border: 0px none;
  height: 437px;
  position: relative;
  width: 1512px;
}

.box .frame {
  background-color: #f5f8ff;
  height: 437px;
  left: 0;
  top: 0;
  width: 1512px;
}

.box .group {
  height: 314px;
  left: 82px;
  position: absolute;
  top: 60px;
  width: 1401px;
}

.box .overlap {
  height: 314px;
  position: relative;
}

.box .div {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  left: 23px;
  position: absolute;
  top: 18px;
  width: fit-content;
}

.box .frame2 {
  height: 125px;
  min-width: 428px;
  position: relative;
}

.box .machinelearning {
  height: 56px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 56px;
}

.box .frame3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 86px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.box .textwrapper {
  color: var(--textprimary-dark);
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box .p {
  color: var(--textprimary-dark);
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 276px;
}

.box .frame4 {
  height: 125px;
  min-width: 458px;
  position: relative;
}

.box .frame5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 91px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.box .stockearnings {
  height: 56px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 56px;
}

.box .cloudservices {
  height: 56px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 56px;
}

.box .frame6 {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  left: 23px;
  position: absolute;
  top: 189px;
  width: fit-content;
}

.box .textwrapper-2 {
  color: var(--textprimary-dark);
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box .img {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.box .textwrapper-3 {
  color: var(--textprimary-dark);
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 277px;
}

.box .frame7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 93px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.box .smartpackkernel {
  height: 56px;
  left: -2px;
  position: absolute;
  top: 0;
  width: 56px;
}

.box .overlapgroup-wrapper {
  height: 303px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1334px;
}

.box .overlapgroup {
  height: 303px;
  position: relative;
}

.box .line {
  height: 303px;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.box .line2 {
  height: 303px;
  left: 894px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.box .line3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 1334px;
}

.box .line4 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.box .line5 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 436px;
  width: 1512px;
}
.solution {
background: #00163F;
  padding: 94px 172px;
}
.solution_label {
  color: #fff;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px; /* 310.526% */
}
.solution_desc {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 66px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px; /* 118.182% */
  letter-spacing: 0.66px;
  max-width: 857px;
}
.solution_feature {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  row-gap: 230px;
}

.feature {
  display: flex;
  justify-content: space-between;
}
.feature2 {
  flex-direction: row-reverse;
}

.feature_title {
  margin: 18px 0px;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px; /* 141.304% */
  letter-spacing: 0.46px;
  max-width: 500px;
}
.feature_desc {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.22px;
  max-width: 500px;
}
.feature_btn {
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 232px;
}
.img_cont {
  position: relative;
}

.img_main {
  width: 642.038px;
  height: 470px;
}
.img_mainReverse {
  position: absolute;
  left: 70px;
}
.img_sub {
  position: absolute;
  width: 355.028px;
  height: 260px;
  top: 290px;
  left: -170px;
  z-index: 12;
}
.img_sub.img_subReverse {
  position: absolute;
  left: 0px;
}
.blog {
  background: #fff;
  padding: 101px 172px;
}
.blog_content {
  margin-bottom: 57px;
}
.blog_header {
  color: #00405a;
  font-family: SF Pro Display;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 78px; /* 118.182% */
  letter-spacing: 0.66px;
  max-width: 586px;
  margin-bottom: 25px;
}
.blog_desc {
  color: #00405a;
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  max-width: 541px;
}
.blog_bg {
  border-radius: 22px;
  background-image: url("./../../assets/blogBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border: 1px solid transparent;
}

.blog_card {
  border-radius: 12px;
  border: 1px solid var(--text-primary-dark, #012534);
  background: #fff;
  width: 436px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 25px;
}
.blog_cardHeader {
  color: var(--text-primary-dark, #012534);
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 125% */
  letter-spacing: 0.36px;
  max-width: 338px;
}
.blog_cardDesc {
  color: var(--text-secondary-dark, #667085);
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin: 20px 0px;
}
.blog_link {
  color: var(--brand-secondary, #bd4283);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  display: flex;
  align-items: center;
}
.footer {
  background: #012534;
  height: 719px;
  padding: 127px 172px 95px 172px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_title {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px; /* 137.5% */
  letter-spacing: 0.4px;
  max-width: 594px;
}
.footer_desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 668px;
}
.footer_btnDiv {
  display: flex;
  margin-top: 35px;
  column-gap: 20px;
}

.footer_btnPry {
  border-radius: 8px;
  border: 1px solid #0047cc;
  background: #0047cc;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 14px 18px;
}
.footer_btnSec {
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 14px 18px;
}
hr.footer_line {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 106px;
}
.footer_foot {
  margin-top: 85px;
}
.footer_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 50px;
}
.footer_link li {
  color: rgba(255, 255, 255, 0.7);
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer_socials {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 44px;
}
.footer_copywrite {
  text-align: center;
  margin-top: 55px;
  color: rgba(255, 255, 255, 0.7);
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}
